@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  /* font-size: 24px; */
  font-size: 1.3rem;
  background-color: #7B8C8B;  // CALM OCEAN
}

body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.navMenu {
  display: flex;
  justify-content: center;
}

.navMenu a:visited, a {
  font-family: 'Nanum Gothic Coding', monospace;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.navMenu a:hover {
  font-weight: bold;
}

.fullWidth {
  grid-column-start: 0;
  grid-column-end: span 4;
}

.fullText {
  grid-column-end: span 2;
}

.mainContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1vmin;
  grid-row-gap: 1vmin;
  padding: 0 10vw 0 10vw;
}

.section {
  border-top: 0.3vh solid #989DA6;
  grid-column-start: 0;
  grid-column-end: span 4;
  /* background-color: #222; */
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-column-gap: 1vmin;
  grid-row-gap: 1vmin;
  /* margin-top: 5vh; */
}
